.elementor-12270 .elementor-element.elementor-element-704e39 {
  --display: flex;
}
#elementor-popup-modal-12270 {
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  pointer-events: all;
}
#elementor-popup-modal-12270 .dialog-message {
  width: 640px;
  height: auto;
}
#elementor-popup-modal-12270 .dialog-close-button {
  display: flex;
}
#elementor-popup-modal-12270 .dialog-widget-content {
  border-radius: 12px 12px 12px 12px;
  box-shadow: 2px 8px 23px 3px rgba(0, 0, 0, 0.2);
}
body:not(.rtl) #elementor-popup-modal-12270 .dialog-close-button {
  right: 95%;
}
body.rtl #elementor-popup-modal-12270 .dialog-close-button {
  left: 95%;
}
@media (max-width: 767px) {
  body:not(.rtl) #elementor-popup-modal-12270 .dialog-close-button {
    right: 90%;
  }
  body.rtl #elementor-popup-modal-12270 .dialog-close-button {
    left: 90%;
  }
}
