.elementor-1612 .elementor-element.elementor-element-c704994 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --gap: 0px 0px;
  --row-gap: 0px;
  --column-gap: 0px;
  --padding-top: 80px;
  --padding-bottom: 80px;
  --padding-left: 10px;
  --padding-right: 10px;
}
.elementor-1612 .elementor-element.elementor-element-c704994:not(.elementor-motion-effects-element-type-background),
.elementor-1612
  .elementor-element.elementor-element-c704994
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #e5f5ff;
}
.elementor-1612 .elementor-element.elementor-element-c937a72 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --justify-content: space-between;
  --align-items: center;
  border-style: solid;
  --border-style: solid;
  border-width: 0px 0px 1px 0px;
  --border-top-width: 0px;
  --border-right-width: 0px;
  --border-bottom-width: 1px;
  --border-left-width: 0px;
  border-color: #efefef3b;
  --border-color: #efefef3b;
}
.elementor-1612 .elementor-element.elementor-element-c1343f9 {
  --display: flex;
}
.elementor-widget-theme-site-logo .widget-image-caption {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-1612 .elementor-element.elementor-element-7c237ce {
  text-align: start;
}
.elementor-1612 .elementor-element.elementor-element-7c237ce img {
  width: 100%;
  max-width: 260px;
}
.elementor-1612 .elementor-element.elementor-element-87fd2c7 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --justify-content: flex-end;
  --align-items: center;
}
.elementor-1612 .elementor-element.elementor-element-078e0df {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --margin-top: 10px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-1612 .elementor-element.elementor-element-bfe55c7 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --gap: 12px 10px;
  --row-gap: 12px;
  --column-gap: 10px;
}
.elementor-widget-heading .elementor-heading-title {
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
  color: var(--e-global-color-primary);
}
.elementor-1612 .elementor-element.elementor-element-bfffdc0 .elementor-heading-title {
  font-family: "trap", Sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  color: #133459c2;
}
.elementor-1612 .elementor-element.elementor-element-8e4d36e {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --align-items: center;
  --gap: 10px 10px;
  --row-gap: 10px;
  --column-gap: 10px;
  border-style: solid;
  --border-style: solid;
  border-width: 3px 3px 3px 3px;
  --border-top-width: 3px;
  --border-right-width: 3px;
  --border-bottom-width: 3px;
  --border-left-width: 3px;
  border-color: var(--e-global-color-163227d);
  --border-color: var(--e-global-color-163227d);
  --border-radius: 12px 12px 12px 12px;
  --margin-top: 20px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 20px;
  --padding-bottom: 20px;
  --padding-left: 20px;
  --padding-right: 20px;
}
.elementor-1612 .elementor-element.elementor-element-4644d3f .elementor-heading-title {
  font-family: "Poppins", Sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3em;
  color: var(--e-global-color-163227d);
}
.elementor-1612 .elementor-element.elementor-element-f2e92ae {
  --display: flex;
  --gap: 10px 10px;
  --row-gap: 10px;
  --column-gap: 10px;
}
.elementor-widget-image .widget-image-caption {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-1612 .elementor-element.elementor-element-dfed4d1 img {
  width: 130px;
}
.elementor-1612 .elementor-element.elementor-element-98b4fc0 img {
  width: 130px;
}
.elementor-1612 .elementor-element.elementor-element-929d432 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --gap: 12px 10px;
  --row-gap: 12px;
  --column-gap: 10px;
}
.elementor-1612 .elementor-element.elementor-element-4ad21cc .elementor-heading-title {
  font-family: "trap", Sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: var(--e-global-color-163227d);
}
.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after {
  border-color: var(--e-global-color-text);
}
.elementor-widget-icon-list .elementor-icon-list-icon i {
  color: var(--e-global-color-primary);
}
.elementor-widget-icon-list .elementor-icon-list-icon svg {
  fill: var(--e-global-color-primary);
}
.elementor-widget-icon-list .elementor-icon-list-item > .elementor-icon-list-text,
.elementor-widget-icon-list .elementor-icon-list-item > a {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-widget-icon-list .elementor-icon-list-text {
  color: var(--e-global-color-secondary);
}
.elementor-1612 .elementor-element.elementor-element-ffeac7f {
  width: var(--container-widget-width, 74%);
  max-width: 74%;
  --container-widget-width: 74%;
  --container-widget-flex-grow: 0;
  --e-icon-list-icon-size: 20px;
  --e-icon-list-icon-align: left;
  --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25) 0 0;
  --icon-vertical-align: flex-start;
  --icon-vertical-offset: 0px;
}
.elementor-1612 .elementor-element.elementor-element-ffeac7f > .elementor-widget-container {
  margin: 10px 0px 0px 0px;
}
.elementor-1612
  .elementor-element.elementor-element-ffeac7f
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-block-end: calc(11px / 2);
}
.elementor-1612
  .elementor-element.elementor-element-ffeac7f
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-block-start: calc(11px / 2);
}
.elementor-1612
  .elementor-element.elementor-element-ffeac7f
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-inline: calc(11px / 2);
}
.elementor-1612 .elementor-element.elementor-element-ffeac7f .elementor-icon-list-items.elementor-inline-items {
  margin-inline: calc(-11px / 2);
}
.elementor-1612
  .elementor-element.elementor-element-ffeac7f
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  inset-inline-end: calc(-11px / 2);
}
.elementor-1612 .elementor-element.elementor-element-ffeac7f .elementor-icon-list-icon i {
  color: var(--e-global-color-163227d);
  transition: color 0.3s;
}
.elementor-1612 .elementor-element.elementor-element-ffeac7f .elementor-icon-list-icon svg {
  fill: var(--e-global-color-163227d);
  transition: fill 0.3s;
}
.elementor-1612 .elementor-element.elementor-element-ffeac7f .elementor-icon-list-item > .elementor-icon-list-text,
.elementor-1612 .elementor-element.elementor-element-ffeac7f .elementor-icon-list-item > a {
  font-family: "Poppins", Sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.elementor-1612 .elementor-element.elementor-element-ffeac7f .elementor-icon-list-text {
  color: #133459c2;
  transition: color 0.3s;
}
.elementor-1612 .elementor-element.elementor-element-c702af4 {
  width: var(--container-widget-width, 74%);
  max-width: 74%;
  --container-widget-width: 74%;
  --container-widget-flex-grow: 0;
  --e-icon-list-icon-size: 20px;
  --e-icon-list-icon-align: left;
  --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25) 0 0;
  --icon-vertical-align: flex-start;
  --icon-vertical-offset: 0px;
}
.elementor-1612 .elementor-element.elementor-element-c702af4 > .elementor-widget-container {
  margin: 10px 0px 0px 0px;
}
.elementor-1612
  .elementor-element.elementor-element-c702af4
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-block-end: calc(11px / 2);
}
.elementor-1612
  .elementor-element.elementor-element-c702af4
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-block-start: calc(11px / 2);
}
.elementor-1612
  .elementor-element.elementor-element-c702af4
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-inline: calc(11px / 2);
}
.elementor-1612 .elementor-element.elementor-element-c702af4 .elementor-icon-list-items.elementor-inline-items {
  margin-inline: calc(-11px / 2);
}
.elementor-1612
  .elementor-element.elementor-element-c702af4
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  inset-inline-end: calc(-11px / 2);
}
.elementor-1612 .elementor-element.elementor-element-c702af4 .elementor-icon-list-icon i {
  color: var(--e-global-color-163227d);
  transition: color 0.3s;
}
.elementor-1612 .elementor-element.elementor-element-c702af4 .elementor-icon-list-icon svg {
  fill: var(--e-global-color-163227d);
  transition: fill 0.3s;
}
.elementor-1612 .elementor-element.elementor-element-c702af4 .elementor-icon-list-item > .elementor-icon-list-text,
.elementor-1612 .elementor-element.elementor-element-c702af4 .elementor-icon-list-item > a {
  font-family: "Poppins", Sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.elementor-1612 .elementor-element.elementor-element-c702af4 .elementor-icon-list-text {
  color: #133459c2;
  transition: color 0.3s;
}
.elementor-1612 .elementor-element.elementor-element-13571c9 {
  width: var(--container-widget-width, 100%);
  max-width: 100%;
  --container-widget-width: 100%;
  --container-widget-flex-grow: 0;
  --e-icon-list-icon-size: 20px;
  --e-icon-list-icon-align: left;
  --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25) 0 0;
  --icon-vertical-align: flex-start;
  --icon-vertical-offset: 4px;
}
.elementor-1612 .elementor-element.elementor-element-13571c9 > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-1612
  .elementor-element.elementor-element-13571c9
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-block-end: calc(11px / 2);
}
.elementor-1612
  .elementor-element.elementor-element-13571c9
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-block-start: calc(11px / 2);
}
.elementor-1612
  .elementor-element.elementor-element-13571c9
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-inline: calc(11px / 2);
}
.elementor-1612 .elementor-element.elementor-element-13571c9 .elementor-icon-list-items.elementor-inline-items {
  margin-inline: calc(-11px / 2);
}
.elementor-1612
  .elementor-element.elementor-element-13571c9
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  inset-inline-end: calc(-11px / 2);
}
.elementor-1612 .elementor-element.elementor-element-13571c9 .elementor-icon-list-icon i {
  color: var(--e-global-color-163227d);
  transition: color 0.3s;
}
.elementor-1612 .elementor-element.elementor-element-13571c9 .elementor-icon-list-icon svg {
  fill: var(--e-global-color-163227d);
  transition: fill 0.3s;
}
.elementor-1612 .elementor-element.elementor-element-13571c9 .elementor-icon-list-item > .elementor-icon-list-text,
.elementor-1612 .elementor-element.elementor-element-13571c9 .elementor-icon-list-item > a {
  font-family: "Poppins", Sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.elementor-1612 .elementor-element.elementor-element-13571c9 .elementor-icon-list-text {
  color: #133459c2;
  transition: color 0.3s;
}
.elementor-widget-button .elementor-button {
  background-color: var(--e-global-color-accent);
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-weight: var(--e-global-typography-accent-font-weight);
}
.elementor-1612 .elementor-element.elementor-element-3658fee .elementor-button {
  background-color: var(--e-global-color-163227d);
  fill: #ffffff;
  color: #ffffff;
  border-radius: 10px 10px 10px 10px;
}
.elementor-1612 .elementor-element.elementor-element-3658fee .elementor-button:hover,
.elementor-1612 .elementor-element.elementor-element-3658fee .elementor-button:focus {
  background-color: #133459bf;
}
.elementor-1612 .elementor-element.elementor-element-3658fee > .elementor-widget-container {
  margin: 10px 0px 0px 0px;
}
.elementor-1612 .elementor-element.elementor-element-87fbc0d {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --gap: 10px 10px;
  --row-gap: 10px;
  --column-gap: 10px;
}
.elementor-1612 .elementor-element.elementor-element-6082a43 .elementor-heading-title {
  font-family: "trap", Sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: var(--e-global-color-163227d);
}
.elementor-1612 .elementor-element.elementor-element-8dc9bec {
  width: var(--container-widget-width, 100%);
  max-width: 100%;
  --container-widget-width: 100%;
  --container-widget-flex-grow: 0;
  --e-icon-list-icon-size: 20px;
  --e-icon-list-icon-align: left;
  --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25) 0 0;
  --icon-vertical-align: flex-start;
  --icon-vertical-offset: 0px;
}
.elementor-1612 .elementor-element.elementor-element-8dc9bec > .elementor-widget-container {
  margin: 10px 0px 0px 0px;
}
.elementor-1612
  .elementor-element.elementor-element-8dc9bec
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-block-end: calc(11px / 2);
}
.elementor-1612
  .elementor-element.elementor-element-8dc9bec
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-block-start: calc(11px / 2);
}
.elementor-1612
  .elementor-element.elementor-element-8dc9bec
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-inline: calc(11px / 2);
}
.elementor-1612 .elementor-element.elementor-element-8dc9bec .elementor-icon-list-items.elementor-inline-items {
  margin-inline: calc(-11px / 2);
}
.elementor-1612
  .elementor-element.elementor-element-8dc9bec
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  inset-inline-end: calc(-11px / 2);
}
.elementor-1612 .elementor-element.elementor-element-8dc9bec .elementor-icon-list-icon i {
  transition: color 0.3s;
}
.elementor-1612 .elementor-element.elementor-element-8dc9bec .elementor-icon-list-icon svg {
  transition: fill 0.3s;
}
.elementor-1612 .elementor-element.elementor-element-8dc9bec .elementor-icon-list-item > .elementor-icon-list-text,
.elementor-1612 .elementor-element.elementor-element-8dc9bec .elementor-icon-list-item > a {
  font-family: "Poppins", Sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.elementor-1612 .elementor-element.elementor-element-8dc9bec .elementor-icon-list-text {
  color: #133459c2;
  transition: color 0.3s;
}
.elementor-1612 .elementor-element.elementor-element-cac69b7 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --gap: 10px 10px;
  --row-gap: 10px;
  --column-gap: 10px;
}
.elementor-1612 .elementor-element.elementor-element-29abe3e .elementor-heading-title {
  font-family: "trap", Sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: var(--e-global-color-163227d);
}
.elementor-widget-text-editor {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
  color: var(--e-global-color-text);
}
.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
  background-color: var(--e-global-color-primary);
}
.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap {
  color: var(--e-global-color-primary);
  border-color: var(--e-global-color-primary);
}
.elementor-1612 .elementor-element.elementor-element-4f5210f {
  width: var(--container-widget-width, 100%);
  max-width: 100%;
  --container-widget-width: 100%;
  --container-widget-flex-grow: 0;
  font-family: "Poppins", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #133459c2;
}
.elementor-1612 .elementor-element.elementor-element-4f5210f > .elementor-widget-container {
  margin: 16px 0px 0px 0px;
}
.elementor-1612 .elementor-element.elementor-element-4f5210f p {
  margin-block-end: 0px;
}
.elementor-1612 .elementor-element.elementor-element-9cad7ff .elementor-button {
  background-color: var(--e-global-color-163227d);
  fill: #ffffff;
  color: #ffffff;
  border-radius: 10px 10px 10px 10px;
}
.elementor-1612 .elementor-element.elementor-element-9cad7ff .elementor-button:hover,
.elementor-1612 .elementor-element.elementor-element-9cad7ff .elementor-button:focus {
  background-color: #133459bf;
}
.elementor-1612 .elementor-element.elementor-element-9cad7ff > .elementor-widget-container {
  margin: 10px 0px 0px 0px;
}
.elementor-1612 .elementor-element.elementor-element-372a9cf {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --align-items: center;
  --gap: 10px 10px;
  --row-gap: 10px;
  --column-gap: 10px;
  border-style: solid;
  --border-style: solid;
  border-width: 3px 3px 3px 3px;
  --border-top-width: 3px;
  --border-right-width: 3px;
  --border-bottom-width: 3px;
  --border-left-width: 3px;
  border-color: var(--e-global-color-163227d);
  --border-color: var(--e-global-color-163227d);
  --border-radius: 12px 12px 12px 12px;
  --margin-top: 20px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 20px;
  --padding-bottom: 20px;
  --padding-left: 20px;
  --padding-right: 20px;
}
.elementor-1612 .elementor-element.elementor-element-9909383 .elementor-heading-title {
  font-family: "Poppins", Sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3em;
  color: var(--e-global-color-163227d);
}
.elementor-1612 .elementor-element.elementor-element-1ae33b6 {
  --display: flex;
  --gap: 10px 10px;
  --row-gap: 10px;
  --column-gap: 10px;
}
.elementor-1612 .elementor-element.elementor-element-31f9d96 img {
  width: 130px;
}
.elementor-1612 .elementor-element.elementor-element-47eabcd img {
  width: 130px;
}
.elementor-1612 .elementor-element.elementor-element-feed13f {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --align-items: center;
  --gap: 0px 0px;
  --row-gap: 0px;
  --column-gap: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-1612 .elementor-element.elementor-element-e26e53a {
  --display: flex;
  --gap: 10px 10px;
  --row-gap: 10px;
  --column-gap: 10px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-widget-ucaddon_ue_scroll_to_top .ue-scroll-to-text {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-1612 .elementor-element.elementor-element-34a3803 .ue-scroll-to {
  position: relative;
  justify-content: flex-end;
}
.elementor-1612 .elementor-element.elementor-element-34a3803 .ue-scroll-to-cta {
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  color: var(--e-global-color-163227d);
  fill: var(--e-global-color-163227d);
}
.elementor-1612 .elementor-element.elementor-element-34a3803 .ue-scroll-to-cta .ue-scroll-to-icon {
  font-size: 20px;
}
.elementor-1612 .elementor-element.elementor-element-34a3803 .ue-scroll-to-cta,
.elementor-1612 .elementor-element.elementor-element-34a3803 .ue-scroll-to-icon {
  border-radius: 50px 50px 50px 50px;
}
.elementor-1612 .elementor-element.elementor-element-34a3803 .ue-scroll-to-cta:hover {
  background-color: var(--e-global-color-163227d);
  color: #ffffff;
  fill: #ffffff;
}
.elementor-1612 .elementor-element.elementor-element-ccce11e {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --justify-content: flex-end;
}
.elementor-1612 .elementor-element.elementor-element-92c52d0 > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-1612
  .elementor-element.elementor-element-92c52d0
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-block-end: calc(18px / 2);
}
.elementor-1612
  .elementor-element.elementor-element-92c52d0
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-block-start: calc(18px / 2);
}
.elementor-1612
  .elementor-element.elementor-element-92c52d0
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-inline: calc(18px / 2);
}
.elementor-1612 .elementor-element.elementor-element-92c52d0 .elementor-icon-list-items.elementor-inline-items {
  margin-inline: calc(-18px / 2);
}
.elementor-1612
  .elementor-element.elementor-element-92c52d0
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  inset-inline-end: calc(-18px / 2);
}
.elementor-1612 .elementor-element.elementor-element-92c52d0 .elementor-icon-list-icon i {
  transition: color 0.3s;
}
.elementor-1612 .elementor-element.elementor-element-92c52d0 .elementor-icon-list-icon svg {
  transition: fill 0.3s;
}
.elementor-1612 .elementor-element.elementor-element-92c52d0 {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}
.elementor-1612 .elementor-element.elementor-element-92c52d0 .elementor-icon-list-item > .elementor-icon-list-text,
.elementor-1612 .elementor-element.elementor-element-92c52d0 .elementor-icon-list-item > a {
  font-family: "Poppins", Sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.elementor-1612 .elementor-element.elementor-element-92c52d0 .elementor-icon-list-text {
  color: #13345973;
  transition: color 0.3s;
}
.elementor-1612 .elementor-element.elementor-element-92c52d0 .elementor-icon-list-item:hover .elementor-icon-list-text {
  color: var(--e-global-color-163227d);
}
.elementor-1612 .elementor-element.elementor-element-e7d1a8c > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-1612
  .elementor-element.elementor-element-e7d1a8c
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-block-end: calc(18px / 2);
}
.elementor-1612
  .elementor-element.elementor-element-e7d1a8c
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-block-start: calc(18px / 2);
}
.elementor-1612
  .elementor-element.elementor-element-e7d1a8c
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-inline: calc(18px / 2);
}
.elementor-1612 .elementor-element.elementor-element-e7d1a8c .elementor-icon-list-items.elementor-inline-items {
  margin-inline: calc(-18px / 2);
}
.elementor-1612
  .elementor-element.elementor-element-e7d1a8c
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  inset-inline-end: calc(-18px / 2);
}
.elementor-1612 .elementor-element.elementor-element-e7d1a8c .elementor-icon-list-icon i {
  transition: color 0.3s;
}
.elementor-1612 .elementor-element.elementor-element-e7d1a8c .elementor-icon-list-icon svg {
  transition: fill 0.3s;
}
.elementor-1612 .elementor-element.elementor-element-e7d1a8c {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}
.elementor-1612 .elementor-element.elementor-element-e7d1a8c .elementor-icon-list-item > .elementor-icon-list-text,
.elementor-1612 .elementor-element.elementor-element-e7d1a8c .elementor-icon-list-item > a {
  font-family: "Poppins", Sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.elementor-1612 .elementor-element.elementor-element-e7d1a8c .elementor-icon-list-text {
  color: #13345973;
  transition: color 0.3s;
}
.elementor-1612 .elementor-element.elementor-element-e7d1a8c .elementor-icon-list-item:hover .elementor-icon-list-text {
  color: var(--e-global-color-163227d);
}
.elementor-1612 .elementor-element.elementor-element-c9e3836 > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-1612 .elementor-element.elementor-element-c9e3836 {
  font-family: "Poppins", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #13345973;
}
.elementor-theme-builder-content-area {
  height: 400px;
}
.elementor-location-header:before,
.elementor-location-footer:before {
  content: "";
  display: table;
  clear: both;
}
@media (max-width: 1024px) {
  .elementor-1612 .elementor-element.elementor-element-c937a72 {
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --gap: 10px 10px;
    --row-gap: 10px;
    --column-gap: 10px;
  }
  .elementor-1612 .elementor-element.elementor-element-7c237ce {
    text-align: start;
  }
  .elementor-1612 .elementor-element.elementor-element-7c237ce img {
    width: 100%;
    max-width: 260px;
  }
  .elementor-1612 .elementor-element.elementor-element-078e0df {
    --gap: 10px 10px;
    --row-gap: 10px;
    --column-gap: 10px;
    --flex-wrap: wrap;
    --margin-top: 20px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
  }
  .elementor-1612 .elementor-element.elementor-element-bfe55c7 {
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
  }
  .elementor-1612 .elementor-element.elementor-element-929d432 {
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
  }
  .elementor-1612 .elementor-element.elementor-element-ffeac7f {
    width: var(--container-widget-width, 72%);
    max-width: 72%;
    --container-widget-width: 72%;
    --container-widget-flex-grow: 0;
  }
  .elementor-1612 .elementor-element.elementor-element-c702af4 {
    width: var(--container-widget-width, 72%);
    max-width: 72%;
    --container-widget-width: 72%;
    --container-widget-flex-grow: 0;
  }
  .elementor-1612 .elementor-element.elementor-element-13571c9 {
    width: var(--container-widget-width, 72%);
    max-width: 72%;
    --container-widget-width: 72%;
    --container-widget-flex-grow: 0;
  }
  .elementor-1612 .elementor-element.elementor-element-8dc9bec {
    width: var(--container-widget-width, 72%);
    max-width: 72%;
    --container-widget-width: 72%;
    --container-widget-flex-grow: 0;
  }
}
@media (max-width: 767px) {
  .elementor-1612 .elementor-element.elementor-element-c704994 {
    --padding-top: 40px;
    --padding-bottom: 40px;
    --padding-left: 20px;
    --padding-right: 20px;
  }
  .elementor-1612 .elementor-element.elementor-element-c937a72 {
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-1612 .elementor-element.elementor-element-c1343f9 {
    --justify-content: center;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-1612 .elementor-element.elementor-element-7c237ce {
    text-align: start;
  }
  .elementor-1612 .elementor-element.elementor-element-7c237ce img {
    width: 68%;
    max-width: 220px;
  }
  .elementor-1612 .elementor-element.elementor-element-87fd2c7 {
    --justify-content: center;
    --align-items: stretch;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
  }
  .elementor-1612 .elementor-element.elementor-element-078e0df {
    --margin-top: 20px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
  }
  .elementor-1612 .elementor-element.elementor-element-bfe55c7 {
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-1612 .elementor-element.elementor-element-8e4d36e {
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
  }
  .elementor-1612 .elementor-element.elementor-element-f2e92ae {
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: center;
    --align-items: center;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-1612 .elementor-element.elementor-element-dfed4d1 img {
    width: 130px;
  }
  .elementor-1612 .elementor-element.elementor-element-929d432 {
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-1612 .elementor-element.elementor-element-929d432.e-con {
    --order: 99999 /* order end hack */;
  }
  .elementor-1612 .elementor-element.elementor-element-ffeac7f {
    --e-icon-list-icon-size: 18px;
  }
  .elementor-1612 .elementor-element.elementor-element-ffeac7f .elementor-icon-list-item > .elementor-icon-list-text,
  .elementor-1612 .elementor-element.elementor-element-ffeac7f .elementor-icon-list-item > a {
    font-size: 14px;
  }
  .elementor-1612 .elementor-element.elementor-element-c702af4 {
    --e-icon-list-icon-size: 18px;
  }
  .elementor-1612 .elementor-element.elementor-element-c702af4 .elementor-icon-list-item > .elementor-icon-list-text,
  .elementor-1612 .elementor-element.elementor-element-c702af4 .elementor-icon-list-item > a {
    font-size: 14px;
  }
  .elementor-1612 .elementor-element.elementor-element-13571c9 {
    --e-icon-list-icon-size: 18px;
  }
  .elementor-1612 .elementor-element.elementor-element-13571c9 .elementor-icon-list-item > .elementor-icon-list-text,
  .elementor-1612 .elementor-element.elementor-element-13571c9 .elementor-icon-list-item > a {
    font-size: 14px;
  }
  .elementor-1612 .elementor-element.elementor-element-87fbc0d {
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-1612 .elementor-element.elementor-element-8dc9bec {
    --e-icon-list-icon-size: 18px;
  }
  .elementor-1612 .elementor-element.elementor-element-8dc9bec .elementor-icon-list-item > .elementor-icon-list-text,
  .elementor-1612 .elementor-element.elementor-element-8dc9bec .elementor-icon-list-item > a {
    font-size: 14px;
  }
  .elementor-1612 .elementor-element.elementor-element-cac69b7 {
    --margin-top: 10px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-1612 .elementor-element.elementor-element-372a9cf {
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
  }
  .elementor-1612 .elementor-element.elementor-element-372a9cf.e-con {
    --order: 99999 /* order end hack */;
  }
  .elementor-1612 .elementor-element.elementor-element-9909383 .elementor-heading-title {
    font-size: 20px;
  }
  .elementor-1612 .elementor-element.elementor-element-1ae33b6 {
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: center;
    --align-items: center;
    --gap: 20px 20px;
    --row-gap: 20px;
    --column-gap: 20px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-1612 .elementor-element.elementor-element-31f9d96 img {
    width: 130px;
  }
  .elementor-1612 .elementor-element.elementor-element-feed13f {
    --flex-direction: column;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --justify-content: flex-start;
    --align-items: flex-start;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-1612 .elementor-element.elementor-element-e26e53a {
    --margin-top: 20px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
  }
  .elementor-1612 .elementor-element.elementor-element-e26e53a.e-con {
    --order: 99999 /* order end hack */;
  }
  .elementor-1612 .elementor-element.elementor-element-34a3803 .ue-scroll-to {
    justify-content: flex-end;
  }
  .elementor-1612 .elementor-element.elementor-element-ccce11e {
    --justify-content: center;
    --gap: 10px 10px;
    --row-gap: 10px;
    --column-gap: 10px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-1612 .elementor-element.elementor-element-c9e3836 {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  .elementor-1612 .elementor-element.elementor-element-c1343f9 {
    --width: 20%;
  }
  .elementor-1612 .elementor-element.elementor-element-bfe55c7 {
    --width: 100%;
  }
  .elementor-1612 .elementor-element.elementor-element-929d432 {
    --width: 85%;
  }
  .elementor-1612 .elementor-element.elementor-element-87fbc0d {
    --width: 48%;
  }
  .elementor-1612 .elementor-element.elementor-element-cac69b7 {
    --width: 82%;
  }
  .elementor-1612 .elementor-element.elementor-element-e26e53a {
    --width: 100%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-1612 .elementor-element.elementor-element-c1343f9 {
    --width: 33%;
  }
  .elementor-1612 .elementor-element.elementor-element-bfe55c7 {
    --width: 49%;
  }
  .elementor-1612 .elementor-element.elementor-element-929d432 {
    --width: 49%;
  }
  .elementor-1612 .elementor-element.elementor-element-87fbc0d {
    --width: 49%;
  }
  .elementor-1612 .elementor-element.elementor-element-cac69b7 {
    --width: 49%;
  }
}
