.elementor-1620 .elementor-element.elementor-element-ffbb397 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --gap: 20px 20px;
  --row-gap: 20px;
  --column-gap: 20px;
  --padding-top: 30px;
  --padding-bottom: 60px;
  --padding-left: 10px;
  --padding-right: 10px;
}
.elementor-1620 .elementor-element.elementor-element-87998b5 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --justify-content: center;
  --border-radius: 30px 30px 30px 30px;
  --padding-top: 30px;
  --padding-bottom: 30px;
  --padding-left: 30px;
  --padding-right: 30px;
}
.elementor-1620 .elementor-element.elementor-element-87998b5:not(.elementor-motion-effects-element-type-background),
.elementor-1620
  .elementor-element.elementor-element-87998b5
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-c5c6292);
}
.elementor-widget-heading .elementor-heading-title {
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-weight: var(--e-global-typography-primary-font-weight);
  color: var(--e-global-color-primary);
}
.elementor-1620 .elementor-element.elementor-element-6a2c462 .elementor-heading-title {
  font-family: "trap", Sans-serif;
  font-size: 58px;
  font-weight: 600;
  line-height: 1.2em;
  letter-spacing: -2px;
  color: var(--e-global-color-163227d);
}
.elementor-widget-text-editor {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
  color: var(--e-global-color-text);
}
.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
  background-color: var(--e-global-color-primary);
}
.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap {
  color: var(--e-global-color-primary);
  border-color: var(--e-global-color-primary);
}
.elementor-1620 .elementor-element.elementor-element-a82d8a8 {
  width: var(--container-widget-width, 95%);
  max-width: 95%;
  --container-widget-width: 95%;
  --container-widget-flex-grow: 0;
  font-family: "Poppins", Sans-serif;
  font-size: 16px;
  color: var(--e-global-color-163227d);
}
.elementor-1620 .elementor-element.elementor-element-a82d8a8 p {
  margin-block-end: 0px;
}
.elementor-1620 .elementor-element.elementor-element-90c6c4a {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --justify-content: flex-end;
  --border-radius: 30px 30px 30px 30px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-widget-image .widget-image-caption {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}
.elementor-1620 .elementor-element.elementor-element-2075dce9 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --overflow: hidden;
  --padding-top: 80px;
  --padding-bottom: 120px;
  --padding-left: 15px;
  --padding-right: 15px;
}
.elementor-1620 .elementor-element.elementor-element-2075dce9:not(.elementor-motion-effects-element-type-background),
.elementor-1620
  .elementor-element.elementor-element-2075dce9
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-1620 .elementor-element.elementor-element-187a3f0a {
  --display: flex;
  --justify-content: space-between;
  --gap: 10px 10px;
  --row-gap: 10px;
  --column-gap: 10px;
}
.elementor-1620 .elementor-element.elementor-element-4bd9102 {
  --display: flex;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-1620 .elementor-element.elementor-element-ac6dfef .elementor-heading-title {
  font-family: "trap", Sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -2px;
  color: #000000;
}
.elementor-1620 .elementor-element.elementor-element-87a28e5 {
  width: var(--container-widget-width, 92%);
  max-width: 92%;
  --container-widget-width: 92%;
  --container-widget-flex-grow: 0;
  font-family: "Poppins", Sans-serif;
  font-size: 16px;
  color: #585858;
}
.elementor-1620 .elementor-element.elementor-element-87a28e5 p {
  margin-block-end: 0px;
}
.elementor-1620 .elementor-element.elementor-element-b87b66a {
  --display: grid;
  --e-con-grid-template-columns: repeat(2, 1fr);
  --e-con-grid-template-rows: repeat(2, 1fr);
  --gap: 20px 20px;
  --row-gap: 20px;
  --column-gap: 20px;
  --grid-auto-flow: row;
  --margin-top: 30px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-1620 .elementor-element.elementor-element-087e4e5 {
  --display: flex;
  --justify-content: center;
  --gap: 10px 10px;
  --row-gap: 10px;
  --column-gap: 10px;
  --border-radius: 12px 12px 12px 12px;
  --padding-top: 20px;
  --padding-bottom: 20px;
  --padding-left: 20px;
  --padding-right: 20px;
}
.elementor-1620 .elementor-element.elementor-element-087e4e5:not(.elementor-motion-effects-element-type-background),
.elementor-1620
  .elementor-element.elementor-element-087e4e5
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-b61f7fc);
}
.elementor-1620 .elementor-element.elementor-element-f36e488 .elementor-heading-title {
  font-family: "trap", Sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: var(--e-global-color-163227d);
}
.elementor-1620 .elementor-element.elementor-element-b0d8169 .elementor-heading-title {
  font-family: "Poppins", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3em;
  color: #063638;
}
.elementor-1620 .elementor-element.elementor-element-18f40b2 .elementor-heading-title {
  font-family: "Poppins", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3em;
  color: #063638;
}
.elementor-1620 .elementor-element.elementor-element-d206512 {
  --display: flex;
  --justify-content: center;
  --gap: 10px 10px;
  --row-gap: 10px;
  --column-gap: 10px;
  --border-radius: 12px 12px 12px 12px;
  --padding-top: 20px;
  --padding-bottom: 20px;
  --padding-left: 20px;
  --padding-right: 20px;
}
.elementor-1620 .elementor-element.elementor-element-d206512:not(.elementor-motion-effects-element-type-background),
.elementor-1620
  .elementor-element.elementor-element-d206512
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-cf40219);
}
.elementor-1620 .elementor-element.elementor-element-75d2842 .elementor-heading-title {
  font-family: "trap", Sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: var(--e-global-color-163227d);
}
.elementor-1620 .elementor-element.elementor-element-d3e0f4e .elementor-heading-title {
  font-family: "Poppins", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3em;
  color: #063638;
}
.elementor-1620 .elementor-element.elementor-element-07db474 {
  --display: flex;
  --justify-content: center;
  --gap: 10px 10px;
  --row-gap: 10px;
  --column-gap: 10px;
  --border-radius: 12px 12px 12px 12px;
  --padding-top: 20px;
  --padding-bottom: 20px;
  --padding-left: 20px;
  --padding-right: 20px;
}
.elementor-1620 .elementor-element.elementor-element-07db474:not(.elementor-motion-effects-element-type-background),
.elementor-1620
  .elementor-element.elementor-element-07db474
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-c5c6292);
}
.elementor-1620 .elementor-element.elementor-element-d2e44a0 .elementor-heading-title {
  font-family: "trap", Sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: var(--e-global-color-163227d);
}
.elementor-1620 .elementor-element.elementor-element-a29c60e .elementor-heading-title {
  font-family: "Poppins", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3em;
  color: #063638;
}
.elementor-1620 .elementor-element.elementor-element-9751b7c {
  --display: flex;
  --justify-content: center;
  --gap: 10px 10px;
  --row-gap: 10px;
  --column-gap: 10px;
  --border-radius: 12px 12px 12px 12px;
  --padding-top: 20px;
  --padding-bottom: 20px;
  --padding-left: 20px;
  --padding-right: 20px;
}
.elementor-1620 .elementor-element.elementor-element-9751b7c:not(.elementor-motion-effects-element-type-background),
.elementor-1620
  .elementor-element.elementor-element-9751b7c
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #e5f5ff;
}
.elementor-1620 .elementor-element.elementor-element-e5d2a1a .elementor-heading-title {
  font-family: "trap", Sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: var(--e-global-color-163227d);
}
.elementor-1620 .elementor-element.elementor-element-8f1f37f {
  --grid-template-columns: repeat(0, auto);
  --icon-size: 18px;
  --grid-column-gap: 5px;
  --grid-row-gap: 0px;
}
.elementor-1620 .elementor-element.elementor-element-8f1f37f .elementor-widget-container {
  text-align: left;
}
.elementor-1620 .elementor-element.elementor-element-8f1f37f .elementor-social-icon {
  background-color: #0000001a;
}
.elementor-1620 .elementor-element.elementor-element-8f1f37f .elementor-social-icon i {
  color: #373737;
}
.elementor-1620 .elementor-element.elementor-element-8f1f37f .elementor-social-icon svg {
  fill: #373737;
}
.elementor-1620 .elementor-element.elementor-element-c477bed {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
}
.elementor-1620 .elementor-element.elementor-element-90dd817 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --justify-content: space-between;
  --gap: 10px 10px;
  --row-gap: 10px;
  --column-gap: 10px;
  --border-radius: 12px 12px 12px 12px;
  --padding-top: 30px;
  --padding-bottom: 30px;
  --padding-left: 30px;
  --padding-right: 30px;
}
.elementor-1620 .elementor-element.elementor-element-90dd817:not(.elementor-motion-effects-element-type-background),
.elementor-1620
  .elementor-element.elementor-element-90dd817
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-1620 .elementor-element.elementor-element-0bedcfb > .elementor-widget-container {
  border-radius: 12px 12px 12px 12px;
}
.elementor-1620 .elementor-element.elementor-element-3f5cc2c6 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --padding-top: 80px;
  --padding-bottom: 50px;
  --padding-left: 10px;
  --padding-right: 10px;
}
.elementor-1620 .elementor-element.elementor-element-3f5cc2c6:not(.elementor-motion-effects-element-type-background),
.elementor-1620
  .elementor-element.elementor-element-3f5cc2c6
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #eff9f7;
}
.elementor-1620 .elementor-element.elementor-element-658c9eb4 > .elementor-widget-container {
  margin: 0px 0px 0px 32px;
}
.elementor-1620 .elementor-element.elementor-element-658c9eb4 {
  text-align: start;
}
.elementor-1620 .elementor-element.elementor-element-658c9eb4 .elementor-heading-title {
  font-family: "Poppins", Sans-serif;
  font-size: 32px;
  line-height: 41.6px;
  color: var(--e-global-color-primary);
}
.elementor-1620 .elementor-element.elementor-element-6d772549 {
  --swiper-slides-to-display: 3;
  --swiper-slides-gap: 30px;
  --dots-normal-color: var(--e-global-color-6a1c075);
  --dots-hover-color: #348d77;
}
.elementor-1620 .elementor-element.elementor-element-6d772549 > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}
.elementor-1620 .elementor-element.elementor-element-6d772549 .swiper-slide > .elementor-element {
  height: 100%;
}
.elementor-1620 .elementor-element.elementor-element-8443451 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --padding-top: 0px;
  --padding-bottom: 80px;
  --padding-left: 10px;
  --padding-right: 10px;
}
.elementor-1620 .elementor-element.elementor-element-8443451:not(.elementor-motion-effects-element-type-background),
.elementor-1620
  .elementor-element.elementor-element-8443451
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-1620 .elementor-element.elementor-element-0a2fd05 > .elementor-widget-container {
  border-radius: 24px 24px 24px 24px;
  box-shadow: 6px 20px 56px 0px rgba(0, 0, 0, 0.11);
}
.elementor-1620 .elementor-element.elementor-element-0a2fd05 iframe {
  height: 511px;
}
:root {
  --page-title-display: none;
}
@media (max-width: 1024px) {
  .elementor-1620 .elementor-element.elementor-element-2075dce9 {
    --padding-top: 80px;
    --padding-bottom: 26px;
    --padding-left: 10px;
    --padding-right: 10px;
  }
  .elementor-1620 .elementor-element.elementor-element-b87b66a {
    --grid-auto-flow: row;
  }
  .elementor-1620 .elementor-element.elementor-element-6d772549 {
    --swiper-slides-to-display: 2;
  }
}
@media (max-width: 767px) {
  .elementor-1620 .elementor-element.elementor-element-ffbb397 {
    --gap: 10px 10px;
    --row-gap: 10px;
    --column-gap: 10px;
    --padding-top: 10px;
    --padding-bottom: 60px;
    --padding-left: 20px;
    --padding-right: 20px;
  }
  .elementor-1620 .elementor-element.elementor-element-87998b5 {
    --padding-top: 30px;
    --padding-bottom: 30px;
    --padding-left: 20px;
    --padding-right: 20px;
  }
  .elementor-1620 .elementor-element.elementor-element-6a2c462 {
    text-align: center;
  }
  .elementor-1620 .elementor-element.elementor-element-6a2c462 .elementor-heading-title {
    font-size: 40px;
  }
  .elementor-1620 .elementor-element.elementor-element-a82d8a8 {
    --container-widget-width: 100%;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 100%);
    max-width: 100%;
    text-align: center;
    font-size: 14px;
  }
  .elementor-1620 .elementor-element.elementor-element-90c6c4a {
    --min-height: 320px;
    --justify-content: center;
  }
  .elementor-1620 .elementor-element.elementor-element-a333cd3 img {
    width: 368px;
  }
  .elementor-1620 .elementor-element.elementor-element-2075dce9 {
    --padding-top: 60px;
    --padding-bottom: 60px;
    --padding-left: 10px;
    --padding-right: 10px;
  }
  .elementor-1620 .elementor-element.elementor-element-187a3f0a {
    --gap: 10px 10px;
    --row-gap: 10px;
    --column-gap: 10px;
  }
  .elementor-1620 .elementor-element.elementor-element-187a3f0a.e-con {
    --order: 99999 /* order end hack */;
  }
  .elementor-1620 .elementor-element.elementor-element-ac6dfef {
    text-align: center;
  }
  .elementor-1620 .elementor-element.elementor-element-ac6dfef .elementor-heading-title {
    font-size: 28px;
    line-height: 1.3em;
    letter-spacing: -1px;
  }
  .elementor-1620 .elementor-element.elementor-element-87a28e5 {
    --container-widget-width: 100%;
    --container-widget-flex-grow: 0;
    width: var(--container-widget-width, 100%);
    max-width: 100%;
    text-align: center;
    font-size: 14px;
  }
  .elementor-1620 .elementor-element.elementor-element-b87b66a {
    --e-con-grid-template-columns: repeat(2, 1fr);
    --gap: 10px 10px;
    --row-gap: 10px;
    --column-gap: 10px;
    --grid-auto-flow: row;
  }
  .elementor-1620 .elementor-element.elementor-element-087e4e5 {
    --width: 100%;
  }
  .elementor-1620 .elementor-element.elementor-element-f36e488 .elementor-heading-title {
    font-size: 14px;
  }
  .elementor-1620 .elementor-element.elementor-element-b0d8169 .elementor-heading-title {
    font-size: 12px;
  }
  .elementor-1620 .elementor-element.elementor-element-18f40b2 .elementor-heading-title {
    font-size: 12px;
  }
  .elementor-1620 .elementor-element.elementor-element-d206512 {
    --width: 100%;
  }
  .elementor-1620 .elementor-element.elementor-element-75d2842 .elementor-heading-title {
    font-size: 14px;
  }
  .elementor-1620 .elementor-element.elementor-element-d3e0f4e .elementor-heading-title {
    font-size: 12px;
  }
  .elementor-1620 .elementor-element.elementor-element-07db474 {
    --width: 100%;
  }
  .elementor-1620 .elementor-element.elementor-element-d2e44a0 .elementor-heading-title {
    font-size: 14px;
  }
  .elementor-1620 .elementor-element.elementor-element-a29c60e .elementor-heading-title {
    font-size: 12px;
  }
  .elementor-1620 .elementor-element.elementor-element-9751b7c {
    --width: 100%;
  }
  .elementor-1620 .elementor-element.elementor-element-e5d2a1a .elementor-heading-title {
    font-size: 14px;
  }
  .elementor-1620 .elementor-element.elementor-element-8f1f37f {
    --icon-size: 14px;
  }
  .elementor-1620 .elementor-element.elementor-element-c477bed.e-con {
    --order: 99999 /* order end hack */;
  }
  .elementor-1620 .elementor-element.elementor-element-90dd817 {
    --align-items: center;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
  }
  .elementor-1620 .elementor-element.elementor-element-7dd1c45 {
    text-align: start;
  }
  .elementor-1620 .elementor-element.elementor-element-7dd1c45 img {
    width: 66%;
  }
  .elementor-1620 .elementor-element.elementor-element-afebc48 img {
    width: 66%;
  }
  .elementor-1620 .elementor-element.elementor-element-3f5cc2c6 {
    --padding-top: 50px;
    --padding-bottom: 50px;
    --padding-left: 10px;
    --padding-right: 10px;
  }
  .elementor-1620 .elementor-element.elementor-element-658c9eb4 > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
  .elementor-1620 .elementor-element.elementor-element-658c9eb4 {
    text-align: center;
  }
  .elementor-1620 .elementor-element.elementor-element-658c9eb4 .elementor-heading-title {
    font-size: 20px;
    line-height: 24px;
  }
  .elementor-1620 .elementor-element.elementor-element-6d772549 {
    --swiper-slides-to-display: 1;
    --swiper-pagination-size: 8px;
  }
  .elementor-1620 .elementor-element.elementor-element-8443451 {
    --padding-top: 10px;
    --padding-bottom: 80px;
    --padding-left: 20px;
    --padding-right: 20px;
  }
}
@media (min-width: 768px) {
  .elementor-1620 .elementor-element.elementor-element-87998b5 {
    --width: 60%;
  }
  .elementor-1620 .elementor-element.elementor-element-90c6c4a {
    --width: 40%;
  }
  .elementor-1620 .elementor-element.elementor-element-187a3f0a {
    --width: 50%;
  }
  .elementor-1620 .elementor-element.elementor-element-087e4e5 {
    --width: 100%;
  }
  .elementor-1620 .elementor-element.elementor-element-d206512 {
    --width: 100%;
  }
  .elementor-1620 .elementor-element.elementor-element-07db474 {
    --width: 100%;
  }
  .elementor-1620 .elementor-element.elementor-element-9751b7c {
    --width: 100%;
  }
  .elementor-1620 .elementor-element.elementor-element-c477bed {
    --width: 50%;
  }
}
